body,
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(90, 90, 90);
    color: rgb(157, 157, 157);
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
}

main {
    margin: 0px;
    padding: 0px;
    height: calc(100% - 67px);
    width: 100%;
    /*overflow: hidden;*/
}

* {
    box-sizing: border-box;
}

.main-header {
    padding: 1px 10px 1px 34px;
    text-align: left;
    overflow: hidden;
    background-color: rgb(27, 27, 27);
    margin-left: 0px;
    width: 100%;
}

.main-header h1 {
    font-family: 'Antonio', sans-serif;
    font-size: 1.6em;
    color: rgb(157, 157, 157);
}

.topbar {
    padding: 10px;
    text-align: center;
    height: 40.5px;
    background-color:  rgb(27, 27, 27);
    margin-left: 0px;
}

.sidebar {
    text-align: center;
    height: 100%;
    width: 160px;
    background-color:rgb(27, 27, 27);
    display: block;
    float: left;
}

.sidebar a {
    padding: 9px 0px 10px 0px;
    font-family: 'Antonio', sans-serif;
    text-decoration: none;
    font-size: 1.1em;
    color: rgb(157, 157, 157);
    border-bottom-style: solid;
    display: block;
}

.sidebar a:hover {
    color: rgb(96, 96, 96);
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    height: calc(100% - 40px);
    padding: 5px;
    overflow: auto;
}

.tile {
    border-radius: 3px;
    width: 22%;
    min-width: 250px;
    margin: 5px 5px 5px;
    background-color: rgb(74, 74, 74);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tile::-webkit-scrollbar { width: 0 !important }
#timezone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.settings-content {
    color: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: calc(100% - 40px);
    padding: 5px;
}

.settings-item {
    margin-top: 30px;
}

.tile::-webkit-scrollbar {
    width: 0 !important
}

.tile h3 {
    text-align: center;
    font-family: 'Antonio', sans-serif;
}

.item {
    border-radius: 3px;
    display: block;
    min-height: min-content;
    background-color: rgb(27, 27, 27);
    margin: 2.5px 2.5px 2.5px;
    padding: 10px;
    text-decoration: none;
    display: block;
    color: rgb(157, 157, 157);
    font-size: 0.8em;
}

.itemplus {
    border-radius: 3px;
    height: 13px;
    width: 13px;
    display: inline;
}
.itempluslist{
    border-radius: 3px;
    height: 70px;
    width: 70px;
    margin: auto 20px auto;
    display: inline;
    fill:aquamarine;
}
 .closed {
    background-color: aquamarine;
}

.main-header-login {
    text-align: center;
    overflow: hidden;
    background-color: #333;
    margin-top: 5%;
    width: 100%;
    font-size: 50px;
}

.auth-form {
    margin-left: 43%;
    align-content: stretch;
    height: 100%;
    width: 260px;
    height: 560px;
    display: block;
    float: left;
    color: rgb(224, 228, 255);
}

.item-button {
    border-radius: 3px;
    display: block;
    min-height: min-content;
    background-color: white;
    margin: 2.5px 2.5px 2.5px;
    padding: 10px;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 0.8em;
    margin-left: 30%;
    margin-top: 5%;
    min-width: 75px;
}
